@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif
}

:root{
  --white: #ffffff;
  --blue: #0D77C2;
  --background: #FCFCFC;
  --dark-gray: #292727;
  --light-gray: #F2EDED;
  --black: #141414;
  --gray: #4e4e4e;
  --red: #FE5A5A;
  --yellow: #fbbc34;
  --orange: #DC7437;
}

html, body, #root{
  background-color: var(--background);
  height: 100vh;
}